/* ---------------------- CSS Reset -----------------------*/
a img {
  border:0
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  line-height:1em;
  font-size:100%;
  font-weight:400
}

p {
  margin:0 0 1em;
  line-height:1.5
}

body {
  margin:0
}

/* ---------------------- Styles -----------------------*/
.outline {
  display:none
}

.hide {
  display:none
}

html {
  background:#eaeaea url(background.png) repeat-x left top
}

body {
  padding:30px 0;
  font-family:Helvetica,Arial,Tahoma,sans-serif;
  font-size:15px;
  border-top:1px #0068ac;
  min-width:280px
}

a:active,a:link,a:visited {
  color:#0067ab
}

a:visited {
  color:#888
}

a:focus,a:hover {
  color:#474646
}

header {
  background:#0068ac;
  max-width:980px;
  margin:0 auto 30px
}

.mainWrap {
  background:#fff;
  border-radius:10px;
  box-shadow:0 0 10px 0;
  padding:30px;
  box-sizing:border-box;
  max-width:980px;
  min-height:100%;
  margin:0 auto;
  color:#666;
  line-height:150%
}

h1,h2,h3,h4,h5,h6 {
  font-family:NovareseStd-Book,"NovareseStd Book","Novarese Std Book",Helvetica,Tahoma,sans-serif;
  font-weight:400;
  line-height:120%;
  color:#0068ac;
  margin:1.5em 0 .5em
}

h1 {
  font-size:2.5em;
  margin:0;
  padding:0
}

h2 {
  font-size:1.67em
}

h3 {
  font-size:1.4em
}

h4,h5,h6 {
  font-size:1.2em
}

p {
  margin:1.2em 0
}

.questionNumber {
  font-weight:700;
  color:#0068ac;
  margin-top:30px
}

.questionText {
  font-weight:700;
  margin-top:1.5em
}

input[type=text] {
  height:40px;
  border-radius:5px;
  border:2px solid #d1d1d1;
  width:275px;
  padding:5px 15px
}

input[type=text]:focus {
  outline-style:none;
  box-shadow:none;
  border:2px solid #a7a7a7
}

.doctorButton,button.next {
  background-color:#b91806;
  border-radius:5px
}

button.next {
  width:150px;
  height:45px;
  line-height:120%;
  color:#fff
}

.doctorButton,button.next,button.restart {
  cursor:pointer;
  display:inline-block;
  margin-top:2em;
  border:none
}

.doctorButton:focus,button.next:focus {
  outline-style:none;
  box-shadow:none;
  border:2px solid #b91806
}

button.restart {
  color:#0067ab;
  text-decoration:underline;
  margin-left:2em;
  background-color:transparent;
  vertical-align:bottom
}

input[type=submit]:focus {
  outline-style:none;
  box-shadow:none;
  background-color:#da1c07
}

.tip {
  background-color:#eaeaea;
  border-radius:10px;
  padding:1.2em;
  margin-top:30px
}

.doctorButton a {
  text-align:center;
  height:70px;
  width:300px;
  color:#fff;
  font-size:1.5em;
  text-decoration:none;
  line-height:3em;
  padding:0 45px
}

.doctorButton a:hover,button.next:hover {
  background-color:#da1c07
}

button.restart:hover {
  color:#474646;
  border:none
}

.BGimg {
  background:#fff url(heart.jpg) no-repeat 95% 95%
}

/* ---------------------- Mobile Styles -----------------------*/
@media screen and (max-width:1040px) {
body {
  padding-left:30px;
  padding-right:30px
}
}

@media screen and (max-width:450px) {
header img {
  max-width:300px;
  height:auto
}

body {
  padding-left:20px;
  padding-right:20px
}

.mainWrap {
  padding:20px
}

input[type=text],.doctorButton a {
  width:100%
}
}